@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
}
section{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(../image/eloi4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    position: relative;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 4em;
    color: #FFF;
    text-align: center;
    font-family: Great Vibes;
}

.inputlog{
    position: relative;
    margin: 30px 0 ;
    width: 310px;
    border-bottom: 2px solid #FFF;
}

.inputlog label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #FFF;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputlog input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    margin-left: 3px;

}

.inputlog ion-icon{
    position: absolute;
    right: 8px;
    color: #FFF;
    top: 20px;

}

.forget{
    color: #FFF;
    display: flex;
    justify-content: center;
    margin: -15px 0 15px;
}

.forget label input{
    margin-right: 5px;
    border-radius: 20px;
    color: black;
}

.forget label a{
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
}

.forget label a:hover{
    text-decoration: underline;
    
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #FFF;
    cursor: pointer;
    font-weight: 600;
    transition: .5s;
}

button:hover{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: white;
}

input[type="submit"]{
    padding: 5px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #FFF;
    cursor: pointer;
    font-weight: 600;
    transition: .5s;
    
}

input[type="submit"]:hover{

    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: white;
}

