@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #2f4f4f;
} */

/* Cacher la barre de défilement mais garder le défilement activé */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
