@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 2rem 1rem;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  align-items: center;
  gap: 2rem;
}

.nav-logo {
  font-size: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav a {
  position: relative;
  padding-bottom: 0.75rem;
  color: black;
}

nav a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: all 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #121212;
  color: white;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1.5px solid transparent;
}

.btn:hover {
  background-color: white;
  color: #121212;
  border: 1.5px solid black;
  transform: scale(105%);
}

header #cv:hover {
  background-color: white;
  color: #121212;
  border: 1.5px solid black;
  transform: scale(105%);
}

.nav-logo h1 {
  font-size: 40px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
}

.container {
  margin-top: 100px;
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.blur {
  position: absolute;
  left: 70px;
  box-shadow: 0 0 1000px 50px #1d4ed8;
  z-index: -100;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

header .content h4 {
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1.3rem;
  font-weight: 600;
}

header .content h1 {
  color: #323232;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #323232;
}

header .content p {
  margin-bottom: 2rem;
  color: #555;
}

header .image {
  position: relative;
  /* left: 100px; */
}

header .image img {
  max-width: 600px;
  margin: auto;
  border-radius: 50%;
  transition: all 0.5s ease;
  box-shadow: 0 0px 10px #323232;
}

header .image img:hover {
  transform: scale(110%);
  box-shadow: 0 0px 10px #323232;
}

section .header {
  margin-bottom: 1rem;
  color: #555;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.btns {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btns button {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btns button img {
  width: 30px;
  height: 30px;
}

.btns button:nth-child(1):hover {
  border-color: #323232;
  background-color: #fa8072;
  box-shadow: 0 0 4px black;
  transform: scale(1.1);
}
.btns button:nth-child(2):hover {
  border-color: #323232;
  background-color: #6495ed;
  box-shadow: 0 0 4px black;
  transform: scale(1.1);
}
.btns button:nth-child(3):hover {
  border-color: #323232;
  background-color: #d3d3d3;
  box-shadow: 0 0 4px black;
  transform: scale(1.1);
  filter: invert(1);
}

.btns #git:hover {
  border-color: #323232;
  background-color: #d3d3d3;
  box-shadow: 0 0 8px black;
  transform: scale(1.1);
  filter: invert(1);
}

.btns #mail:hover {
  border-color: #fff;
  background-color: #fa8072;
  box-shadow: 0 0 8px white;
  transform: scale(1.1);
}

.btns #linkedin:hover {
  border-color: #fff;
  background-color: #6495ed;
  box-shadow: 0 0 8px white;
  transform: scale(1.1);
}

.experiences {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.experiences .card {
  background-color: #27272a;
  padding: 3rem 2rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.experiences .card:hover {
  background-color: #323232;
  border-color: #fff;
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}

.experiences .card h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.experiences .card h5 {
  color: #ccc;
  font-weight: 500;
}

.experiences .card h3 {
  color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}

.experiences .card p {
  color: #ccc;
  margin-bottom: 1rem;
}

.experiences .card .techno {
  margin-top: auto; /* Pousse cet élément vers le bas */
  color: #ccc;
  font-size: 0.9rem;
  text-align: center;
}

.sub-header {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #323232;
}

.fcards {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.fcards .card {
  padding: 3rem 2rem;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.fcards .card:hover {
  background-color: #323232;
  border-color: #fff;
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}

.fcards .card .content {
  flex: 1;
  margin-bottom: 2rem;
}

.fcards .card h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.fcards .card h5 {
  color: #ccc;
  font-weight: 500;
}

.fcards .card h3 {
  color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}

.fcards .card p {
  color: #fff;
  margin-bottom: 0.75rem;
}

.fcards .card .techno {
  margin-top: 100px; /* Pousse cet élément vers le bas */
  color: #ccc;
  font-size: 0.9rem;
}

/* Section contact */
.contact {
  background-color: #1e1e20; /* Fond sombre pour correspondre à votre thème */
  color: #fff;
  padding: 4rem 1.5rem;
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.contact p {
  color: #ccc;
  margin-bottom: 2rem;
  font-size: 1rem;
}

/* Formulaire */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #fff;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #27272a;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.submit-btn {
  background-color: #3b82f6;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
  background-color: #2563eb;
  transform: scale(1.05);
}

.projets {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.projets .card {
  background-color: #27272a;
  padding: 3rem 2rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.projets .card:hover {
  background-color: #323232;
  border-color: #fff;
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}

.projets .card h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.projets .card p {
  color: #ccc;
  margin-bottom: 1rem;
}

.projets .card .techno {
  margin-top: auto; /* Pousse cet élément vers le bas */
  color: #ccc;
  font-size: 0.9rem;
  text-align: center;
}

/* Conteneur du bandeau */
.marquee-container {
  width: 100%; /* Largeur complète */
  overflow: hidden; /* Cache le texte qui sort */
  background-color: aliceblue; /* Couleur de fond sombre */
  color: #fff; /* Couleur du texte (blanc) */
  padding: 10px 0; /* Espacement vertical */
  font-size: 1.2rem;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  position: relative; /* Position pour le texte défilant */
  border-top: 2px solid #fff; /* Bordure blanche en haut */
  border-bottom: 2px solid #fff;
}

/* Icônes des technologies */
.marquee {
  display: flex; /* Utilisation de flex pour aligner horizontalement */
  animation: marquee 20s linear infinite; /* Animation avec durée de 20 secondes */
}

/* Conteneur pour chaque icône et son nom */
.tech-item {
  text-align: center; /* Centrer le texte sous l'image */
  margin-right: 50px; /* Espacement entre les icônes */
}

/* Icônes individuelles */
.tech-icon {
  width: 80px; /* Taille des icônes */
  height: 80px; /* Proportions carrées */
  margin-right: 100px;
  filter: brightness(0) invert(0); /* Inverser les couleurs pour plus de contraste */
  transition: transform 0.3s ease; /* Animation pour les icônes */
}

/* Effet de survol sur les icônes */
.tech-icon:hover {
  transform: scale(1.2); /* Agrandir les icônes au survol */
}

/* Nom sous chaque icône */
.tech-name {
  display: block; /* Assure que le texte est sous l'icône */
  margin-top: 8px; /* Espacement entre l'icône et le nom */
  margin-right: 100px;
  font-size: 0.9rem; /* Taille du texte */
  font-weight: 500; /* Poids du texte */
  color: #323232; /* Couleur du texte */
  font-weight: 800;
}

/* Séparateur vertical */
.separator {
  height: 100px; /* Hauteur du trait */
  width: 5px; /* Largeur du trait */
  background-color: #323232; /* Couleur du trait */
  margin-left: -100px; /* Espacement horizontal entre le séparateur et les autres éléments */
  margin-right: 50px;
  align-self: center; /* Centrer le trait verticalement */
  color: #323232;
}

/* Icônes des systèmes d'exploitation */
.os-item {
  text-align: center; /* Centrer le texte sous l'image */
  margin-right: 50px; /* Espacement entre les icônes */
}

/* Icônes des systèmes d'exploitation */
.os-icon {
  width: 60px; /* Taille des icônes */
  height: 60px; /* Proportions carrées */
  margin-right: 50px; /* Espacement entre les icônes */
}

/* Nom sous chaque icône des systèmes d'exploitation */
.os-name {
  display: block; /* Assure que le texte est sous l'icône */
  margin-top: 8px; /* Espacement entre l'icône et le nom */
  font-size: 0.9rem; /* Taille du texte */
  font-weight: 500; /* Poids du texte */
  color: #323232; /* Couleur du texte */
  font-weight: 800;
}

/* Animation du texte défilant */
@keyframes marquee {
  0% {
    transform: translateX(100%); /* Commence en dehors de l'écran à droite */
  }
  100% {
    transform: translateX(-100%); /* Sort complètement à gauche */
  }
}

.projets .btns {
  align-items: center;
  justify-content: center;
}

.contact-links .btns {
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media (max-width: 768px) {
  .contact h2 {
    font-size: 1.5rem;
  }
  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
  }
}

@media (width < 900px) {
  .nav-links {
    display: none;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
  }
  header .image {
    grid-area: 1/1/2/2;
  }
  .experiences {
    grid-template-columns: repeat(2, 1fr);
  }
  .fcards {
    grid-template-columns: repeat(2, 1fr);
  }
  .projets {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .experiences {
    grid-template-columns: repeat(1, 1fr);
  }

  .fcards {
    grid-template-columns: repeat(1, 1fr);
  }

  .projets {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Style de base pour la navbar */
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  align-items: center;
  gap: 2rem;
  transition: all 1s ease; /* Animation pour une transition fluide */
  position: relative;
}

/* Style pour la navbar fixe */
.fixed-navbar {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1000; /* Assurez-vous que la navbar reste au-dessus des autres éléments */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre pour la rendre plus visible */
  padding: 5px 20px; /* Vous pouvez réduire le padding pour économiser de l'espace */
  background-color: aliceblue;
  border-radius: 20px;
}

body.fixed-navbar-visible {
  padding-top: 96px; /* Ajoute un padding égal à la hauteur de la navbar quand elle devient fixe */
}

/* Style de base pour les liens */
.nav-links li a {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 10px;
  display: inline-block;
}

/* Animation ::after */
.nav-links li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: all 0.3s ease;
}

/* Survol */
.nav-links li a:hover::after {
  width: 100%;
}

/* Lien actif */
.nav-links li a.active::after {
  width: 100%; /* La barre reste visible */
}
