@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    background-image: url(eloi4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.content{

    display: grid;
    grid-template-rows: 50px 1fr 500px;
    grid-template-areas: 
        "titre"
        "cam"
        "commande";
    margin: 40px auto;
    height: 860px;
    width: 1000px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.7), 0 1px 10px rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    padding: 20px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

}

.titre{

    grid-area: titre;
    font-family: "Great Vibes";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-left: 1px solid rgba(255,255,255, .3);
    border-top: 1px solid rgba(255,255,255, .3);
    color: white;
    border-radius: 40px;
    padding: 30px;
    margin-left: 350px;
    margin-right: 350px;
    box-shadow: 4px 4px 60px rgba(0,0,0, .5), 0 1px 10px rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}





.commande{

    grid-area: commande;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,255,255, .3);
    color: white;
    border-radius: 30px;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0, .2);
    height: 200px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
   
}


.deco{
    position: absolute;
    top: 840px;
    left: 30px;
    transition: 0.3s linear;
    

}

.deco input[type="submit"]:hover{

    border: 2px solid rgba(255, 255, 255, 0.5);
    color: black;
    scale: 1.1;
    box-shadow: 0 0 10px white;

    

}

input{

    background: rgba(255,255,255, .3);
    border-radius: 30px;
    padding: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0, .2);
    border: none;
    border-left: 1px solid rgba(255,255,255, .3);
    border-top: 1px solid rgba(255,255,255, .3);
    box-shadow: 4px 4px 60px rgba(0,0,0, .2);
    transition: all .3s;
    color: black;
    margin-bottom: 2em;
}

input:hover{
    background: rgba(255,255,255, .1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0, .2);
}

input[type="submit"]{
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.commande input[type="submit"]:hover{
    border: 2px solid rgba(255, 255, 255, 0.5);
color: black;
scale: 1.1;
box-shadow: 0 0 10px white;
}



a span{display: none}

a:hover span{
    display:block;
    position:absolute;
    bottom:15px; 
    left: 60px; 
    width:auto;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0, .2);
    background-color: rgba(255,255,255, .3);
    color:#000;
    text-align: center;
    border-radius: 30px;
    padding: 5px;
}

.img{
    position: absolute;
    top: 25vh;
    left: 80px;
    width: 150px;
}

h1{
    margin-top: 29px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #FFF;
    cursor: pointer;
    font-weight: 600;
    transition: .5s;
}

button:hover{
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    scale: 1.1;
    box-shadow: 0 0 10px white;
}

.quit{
    font-size: 20px;
}




.cam{

    grid-area: cam;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}


iframe{
   
    width: 600px;
    height: 500px;

}


.affichage{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,255,255, .3);
    color: black;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0, .2);
    height: 10px;
    width: 100px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}